<div class="container-fluid vh-100 d-flex flex-column justify-content-center align-items-center">
  <div class="row w-100">
    <div class="col-2 d-flex align-items-start">
      <div class="d-flex flex-column">
        <img src="assets/logofami.png" class="img-fluid left-corner-image" alt="Image 1">
        <img src="assets/logohust.png" class="img-fluid left-corner-image mt-2" alt="Image 2">
      </div>
    </div>
    <div class="col d-flex justify-content-center align-items-center">
      <h1 class="text-center">Project II <br> Khai Bui Quoc</h1>
    </div>
  </div>
</div>
